.markdownText {
  background-color: #222;
  border-style: solid;
  border-width: 1px;
  border-color: #666;
  padding: 8px;
}

.copyButton {
  height: 50px;
  font-size: 24px;
  padding: 8px;
  font-weight: bold;
}

.toolbarStyle {
  background-color: #333 !important;
  color: white !important;
}